/Картинки/
/MySort_2016-09-13_11-01_Рабочий с копированием.rar
/MySort_2016-09-13_12-00_Рабочая без копирования.rar
/MySort_2016-09-13_Рабочий без копирования.rar
/MySort_2016-09-19_16-24_Рабочий_с_новыми_сортировками.rar
/Чит.txt
